.li-items{
  border: 2px solid #3f3f3f;
  padding: 2rem;
}

.li-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 1rem;
  text-decoration: underline;
 
}

.li-item-name {
  font-size: 40px;
  font-weight: 800;
}

.li-price-info{
  font-size: 20px;
}


.li-item-total {
  font-size: 20px;
}

.list-total-cost{
  text-align: right;
  font-size: 20px;
  font-weight: 800;
}