/* class ->  .text-red {}
/* id -> #id-bilgisi {} */

/* li:first-child{
    color: green;
}
li:last-child{
    color: aqua;
} */

/* li:nth-child(odd) {
    color: red;
}
li:nth-child(even) {
    color: blue;
} */
/* 
li:nth-child(3n) {
    color: red;
}

.color-blue.fw-normal {
    color: blue;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    color: #2c2c2c;
}

h1{
    font-size: 30px;
   
}

p{
    font-size: 20px;
}

.text-red{
    color:red;
}

.fs-14 {
    font-size: 14px;
}

.fs-20{
    font-size: 20px;
}

.fs-30 {
font-size: 30px;
}

#first-article{
    font-size: 40px;
}  */



.box {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

.bg-red {
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}

body{
    margin: 0;
    padding:0 ;
}

.clear{
    clear: both;
}

.left-bar{
    width: 200px;
    float: left;
}
.content{
    width: 800px;
    float: left;
}

.container{
    margin-top: 50px;
    width: 1000px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 50px auto 0;
}

.card{
    width: 20%;
    float: left;
    padding: 5%;
    background-color: rgb(209, 209, 209) ;
    margin-right: 3%;
    border-radius: 10px;
}

.gradient {
    background: linear-gradient(900deg,rgba(45,156,219,.6),rgba(155,81,224.6));
}

.btn {
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}